{# 
  Event

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de
  @link https://github.com/phpManufaktur/kitFramework/wiki  
  @copyright 2013 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% if usage == 'framework' %}
  {% set template_namespace = '@phpManufaktur/Basic/Template' %}
  {% set template_file = 'framework/body.twig' %}
{% else %}
  {% set template_namespace = '@phpManufaktur/Event/Template' %}
  {% set template_file = 'backend/bootstrap/body.twig' %}
{% endif %}
{% extends getTemplateFile(template_namespace, template_file) %}
{% block stylesheet %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="{{ MANUFAKTUR_URL }}/Event/Template/default/backend/bootstrap/css/event.min.css" media="screen, projection" />
{% endblock stylesheet %}
{% block title %}{{ 'Event Administration - Copy Event'|trans }}{% endblock %}
  
{% block content %}
  <div class="container">
    {% include '@phpManufaktur/Event/Template/default/backend/bootstrap/toolbar.twig' %}
    <div class="height-15"></div>
    <div class="alert alert-{{ message.type|default('info') }}">
      <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
      {{ message.content|default('Please search for the event you want to copy data from.'|trans) }}        
    </div>

    <form id="event_copy_search" action="{{ FRAMEWORK_URL ~ route.check }}" method="post" {{ form_enctype(form) }} role="form">
      {{ form_errors(form) }}
      {{ form_row(form._token) }}
      <div class="form-group">
        {{ form_label(form.search) }}
        {{ form_widget(form.search, {'attr':{'class':'form-control input-sm'}}) }}
      </div>
      
      <div class="form-group">
        <input class="btn btn-default input-sm" type="submit" value="{{ 'Submit'|trans }}" />
      </div>
    </form>  
  </div>
{% endblock content %}
