{#
  Event

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de
  @link https://github.com/phpManufaktur/kitFramework/wiki
  @copyright 2012 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% extends template_file('@phpManufaktur/Basic/Template', 'kitcommand/iframe.body.twig') %}
{% block title %}{{ event.description_title }}{% endblock %}
{% block description %}{{ event.description_short }}{% endblock %}
{% block stylesheet %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="{{ MANUFAKTUR_URL }}/Event/Template/default/command/css/event.view.css" media="screen, projection" />
{% endblock stylesheet %}
{% block content %}
  <div class="event view container">
    <h2>{{ event.description_title }}</h2>
    <div class="event view date">{{ event.event_date_from|date('d.m.Y') }}</div>
    <div class="event view description short">{{ parse_command(app, event.description_short) }}</div>
    
    <div class="table">
      <div class="row">
        <div class="cell width-150">{{ 'Participants maximum'|trans }}</div>
        <div class="cell width-100">
          {% if event.event_participants_max < 0 %}
            {{ 'unlimited'|trans }}
          {% elseif event.event_participants_max == 0 %}
            {{ 'closed'|trans }}
          {% else %}
            {{ event.event_participants_max }}
          {% endif %}
        </div>
        <div class="cell width-150">{{ 'Participants total'|trans }}</div>
        <div class="cell width-100">{{ event.event_participants_total }}</div>
      </div>
      <div class="row">
        <div class="cell"></div>
      </div>
    </div>

    <div class="navigation">
      <a href="{{ url.detail }}" target="_top">{{ 'Show detailed information'|trans }}</a>
    </div>
  </div>
{% endblock %}

