{#
  Event

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de
  @link https://github.com/phpManufaktur/kitFramework/wiki
  @copyright 2012 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% extends template_file('@phpManufaktur/Basic/Template', 'kitcommand/iframe.body.twig') %}
{% block title %}{{ event.description_title }}{% endblock %}
{% block description %}{{ event.description_short }}{% endblock %}
{% block stylesheet %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="{{ MANUFAKTUR_URL }}/Event/Template/default/command/css/event.view.css" media="screen, projection" />
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
{% endblock stylesheet %}
{% block content %}
  <div class="event view container">
    <h2>DETAIL {{ event.description_title }}</h2>
    <div class="event view date">{{ event.event_date_from|date('d.m.Y') }}</div>
    <div class="event view description long">{{ parse_command(app, event.description_long) }}</div>
    
    <div class="table">
      
      <div class="row">
        <div class="cell width-150 right">{{ 'Organizer'|trans }}</div>
        <div class="cell width-150">
          {% if event.contact.organizer.contact.contact_type == 'COMPANY' %}
            {{ event.contact.organizer.company.0.company_name }}
          {% else %}
            {% set person = event.contact.organizer.person.0 %}
            {{ person.person_gender|trans }}
            {% if person.person_first_name|length > 0 %}{{ person.person_first_name }} {% endif %}
            {{ person.last_name }}
          {% endif %}
        </div>
        {% if parameter.qrcode and qrcode.url|length > 0 %}
          <div class="cell width-300">
            <img src="{{ qrcode.url }}" width="{{ qrcode.width }}" height="{{ qrcode.height }}" />
          </div>
        {% endif %}
      </div>
      
      <div class="row">
        <div class="cell width-150 right">{{ 'Location'|trans }}</div>
        <div class="cell width-150">
          {% if event.contact.location.contact.contact_type == 'COMPANY' %}
            {% set phone_id = event.contact.location.company.0.company_primary_phone_id %}
            {% set email_id = event.contact.location.company.0.company_primary_email_id %}
            {{ event.contact.location.company.0.company_name }}<br />
          {% else %}
            {% set phone_id = event.contact.location.person.0.person_primary_phone_id %}
            {% set email_id = event.contact.location.person.0.person_primary_email_id %}
            {{ event.contact.location.person.0.last_name }}<br />
          {% endif %}
            
          {% set address = event.contact.location.address.0 %}
          {% if address.address_street|length > 0 %}{{ address.address_street }}<br />{% endif %}
          {% if address.address_zip|length > 0 %}{{ address.address_zip }} {% endif %}
          {% if address.address_city|length > 0 %}{{ address.address_city }}<br />{% endif %} 
          
          {# get the primary phone #}
          {% if phone_id > 0 %}
            {% for phone in event.contact.location.communication %}
              {% if phone.communication_id == phone_id %}
                <i class="icon-phone"></i> {{ phone.communication_value }}<br />
              {% endif %}
            {% endfor %}
          {% endif %}
          
          {# get the primary email #}
          {% if email_id > 0 %}
            {% for email in event.contact.location.communication %}
              {% if email.communication_id == email_id %}
                <i class="icon-envelope"></i> <a href="mailto:{{ email.communication_value }}">{{ email.communication_value }}</a><br />
              {% endif %}
            {% endfor %}
          {% endif %}
                
          {# loop for a URL #}
          {% set isset_url = 0 %}
          {% for url in event.contact.location.communication %}
            {% if ((url.communication_type == 'URL') and (isset_url == 0)) %}
              {% set isset_url = 1 %}
              <i class="icon-globe"></i> <a href="{{ url.communication_value }}" target="_blank">{{ url.communication_value }}</a><br />
            {% endif %}    
          {% endfor %}
              
          {# link to Google Map #}    
          {% if parameter.link.map and ((address.address_city|length > 0) or (address.address_zip|length > 0)) %}
              {% set location = address.address_street ~ ',' ~ address.address_zip ~ ',' ~ address.address_city %}
              <i class="icon-map-marker"></i> <a href="https://maps.google.de/maps?hl=de&q={{ location }}" target="_blank">{{ 'Google Map'|trans }}</a><br />  
          {% endif %}
              
          {# link to iCal file #}
          {% if parameter.link.ical %}
              <i class="icon-calendar"></i> <a href="{{ FRAMEWORK_URL }}/event/ical/11">{{ 'Add to calendar' }}</a><br />
          {% endif %}
        </div>
        
        {# show Google Map #}
        {% if parameter.map and ((address.address_city|length > 0) or (address.address_zip|length > 0)) %}
          {% set location = address.address_street ~ ',' ~ address.address_zip ~ ',' ~ address.address_city %}
          <div class="cell width-300">
            <iframe width="300" height="180" src="https://maps.google.de/maps?hl=de&q={{ location }}&ie=UTF8&t=&z=14&iwloc=B&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" ></iframe>
          </div>
        {% endif  %}
        
      </div>
      {# close table here, because colspan is not possible for table-cell! (the map need two cells) #}
    </div>  
    
    <div class="table">
      <div class="row">
        <div class="cell width-150 right">{{ 'Event date from'|trans }}</div>
        <div class="cell width-150">{{ event.event_date_from|date('d.m.Y H:i') }}</div>
        <div class="cell width-150 right">{{ 'Event date to'|trans }}</div>
        <div class="cell width-150">{{ event.event_date_to|date('d.m.Y H:i') }}</div>
      </div>
      
      <div class="row">
        <div class="cell width-150 right">{{ 'Participants maximum'|trans }}</div>
        <div class="cell width-150">
          {% if event.event_participants_max < 0 %}
            {{ 'unlimited'|trans }}
          {% elseif event.event_participants_max == 0 %}
            {{ 'closed'|trans }}
          {% else %}
            {{ event.event_participants_max }}
          {% endif %}
        </div>
        <div class="cell width-150 right">{{ 'Participants total'|trans }}</div>
        <div class="cell width-150">{{ event.event_participants_total }}</div>
      </div>
      
      <div class="row">
        <div class="cell width-150 right">{{ 'Deadline'|trans }}</div>
        <div class="cell width-150">{{ event.event_deadline|date('d.m.Y') }}</div>
        <div class="cell width-150 right">{{ 'Costs'|trans }}</div>
        <div class="cell width-150">{%if event.event_costs > 0 %}{{ event.event_costs|number_format(2,',','.') }} &euro;{% else %}{{ 'free of charge'|trans }}{% endif %}</div>
      </div>
      
    </div>
<pre>{#{ dump(parameter) }#}</pre>
    <div class="navigation">
      {% if parameter.link.detail %}
        <a href="{{ url.detail }}" target="_top">{{ 'Show detailed information'|trans }}</a>
      {% endif %}
    </div>
  </div>
{% endblock %}

