{#
  Event

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de
  @link https://github.com/phpManufaktur/kitFramework/wiki
  @copyright 2013 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% if usage == 'framework' %}
  {% set template_namespace = '@phpManufaktur/Basic/Template' %}
  {% set template_file = 'framework/body.twig' %}
  {% set preferred_template = '' %}
{% else %}
  {% set template_namespace = '@phpManufaktur/Event/Template' %}
  {% set template_file = 'admin/body.twig' %}
  {% set preferred_template = 'deprecated/2.0.32' %}
{% endif %}
{% extends getTemplateFile(template_namespace, template_file, preferred_template) %}
{% block stylesheet %}
  {{ parent() }}
  {% if fileExists(MANUFAKTUR_PATH ~ '/Event/Template/' ~ FRAMEWORK_TEMPLATES.0 ~ '/css/admin.min.css') %}
    <link rel="stylesheet" type="text/css" href="{{ MANUFAKTUR_URL ~ '/Event/Template/' ~ FRAMEWORK_TEMPLATES.0 ~ '/css/admin.min.css' }}" media="screen, projection" />
  {% else %}
    <link rel="stylesheet" type="text/css" href="{{ MANUFAKTUR_URL ~ '/Event/Template/deprecated/2.0.32/css/admin.min.css' }}" media="screen, projection" />
  {% endif %}
{% endblock stylesheet %}
{% block title %}{{ 'Event Administration - Categories list'|trans }}{% endblock %}
{% block content %}
  <!-- {{ _self.getTemplateName() }} -->  
  <div class="container">
    {% include '@phpManufaktur/Event/Template/deprecated/2.0.32/admin/toolbar.twig' with {toolbar: extra.toolbar} only %}
    <h1>{{ 'Select contact type'|trans }}</h1> 
    <div class="height-15"></div>
    {% include '@phpManufaktur/Contact/Template/default/pattern/admin/simple/select.contact.twig' %}
  </div>    
{% endblock content %}
